.stopContainer {
  max-width: 40rem;
  margin: 0 auto;
}

.stopContainer form {
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  position: relative;
  flex: 1;
}

.form-field input {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-white);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  display: block;
  color: var(--color-title);
  padding: 0.75rem;
  height: 60px;
  font-size: 1.4375rem;
  border: 0;
}

.form-field input:focus + label,
.form-field label.hasValue {
  top: .125rem;
  transform: translateY(0);
  font-size: .75rem;
}

.form-field input:focus {
  border-color: var(--color-focus);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 151 208 / 25%);
}

.form-field label {
  position: absolute;
  left: 0.75rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  color: var(--color-title);
  top: 50%;
  transform: translateY(-50%);
}

.stopContainer form button {
  background-color: var(--color-white);
  border: 0;
  padding: 1.2rem;
  cursor: pointer;
}

.stopContainer form button:disabled {
  background-color: var(--color-border);
  cursor: not-allowed;
}
