:root {
  --color-white: #fff;
  --color-gray: #f5f5f4;
  --color-body: #626462;
  --color-link: #047db5;
  --color-link-light: #dbf4fd;
  --color-title: #8a8b8a;
  --color-yellow: #ffd200;
  --color-link-hover: #0053a0;
  --color-link-active: #0097d0;
  --color-focus: #51cfff;
  --color-border: #e3e3e0;
  --color-red: #f00;
  --shadow-small: 0 0 5px rgba(0, 0, 0, .2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}